.hero--mt {
    margin-top: 48px;
}

.hero__container > :not(:last-child) {
    margin-bottom: 70px;
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header-hero__info {
    max-width: 750px;
    padding: 15px 15px 15px 0;
}

.header-hero__info > :not(:last-child) {
    margin-bottom: 40px;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.4;

}

.subtitle {
    font-weight: 700;
    font-size: 32px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}

.text--mb {
    margin-bottom: 25px;
}

.text > :not(:last-child) {
    margin-bottom: 34px;
}

.text span {
    font-weight: 700;
    font-size: 20px;
}

.header-hero__content {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    aspect-ratio: 754/566;
}

.header-hero__content img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 537/566;
    object-fit: cover;
}

.content__other-img {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content__other-img img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 141/155;
    object-fit: cover;
}

.hero__group-buttons {
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
}

.hero__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% / 2);
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.hero__button--left {
    left: 0;
}

.hero__button--right {
    right: 0;
}

.hero__button--right::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    background-color: var(--button);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    clip-path: polygon(calc(8% + 4px) 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 24px 24px 0;
    margin-right: -31px;
}

.hero__button--right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--button);
    z-index: 2;
    transition: all 0.3s ease-in-out;
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 24px 24px 0;
    margin-right: -28px;
}

.hero__button--left::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    background-color: var(--button);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
    border-radius: 24px 0 0 24px;
    margin-right: -28px;
}

.hero__button--left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--button);
    z-index: 2;
    transition: all 0.3s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
    border-radius: 24px 0 0 24px;
    margin-right: -31px;
}

.hero__text-button {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: var(--background-color);
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

@media (any-hover: hover) {
    .hero__button--right:hover {
        height: 68px;
    }

    .hero__button--right:hover::before {
        height: calc(100% + 4px);
        width: calc(100% + 48px);
        clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 0 24px 24px 0;
        margin-left: -48px;
    }

    .hero__button--right:hover::after {
        height: 100%;
        width: calc(100% + 38px);
        background-color: var(--main-color);
        clip-path: polygon(calc(11% - 4px) 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 0 24px 24px 0;
        margin-left: -42px;
    }

    .hero__button--left:hover {
        height: 68px;
    }

    .hero__button--left:hover::before {
        clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
        border-radius: 24px 0 0 24px;
        height: calc(100% + 4px);
        width: calc(100% + 48px);
    }

    .hero__button--left:hover::after {
        height: 100%;
        width: calc(100% + 38px);
        clip-path: polygon(0 0, 100% 0, calc(89% + 4px) 100%, 0 100%);
        border-radius: 24px 0 0 24px;
        background-color: var(--main-color);
    }

    .hero__button:hover .hero__text-button {
        color: var(--button);
    }
}

@media screen and (max-width: 1200px) {
    .hero__header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        margin-top: 20px;
    }

    .hero__container > :not(:last-child) {
        margin-bottom: 22px;
    }

    .hero__header {
        gap: 18px;
    }

    .header-hero__info {
        max-width: 100%;
        padding: 0;
    }

    .header-hero__info .title {
        margin-bottom: 24px;
    }

    .header-hero__info .subtitle {
        margin-bottom: 12px;
    }

    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 18px;
    }

    .header-hero__content {
        gap: 32px;
    }

    .content__other-img {
        gap: 21px;
    }

    .header-hero__content img {
        max-width: 437px;
        max-height: 466px;
    }

    .content__other-img img {
        max-width: 110px;
        max-height: 115px;
    }

    .hero__group-buttons {
        height: 90px;
    }

    .hero__button {
        width: 100%;
        height: 90px;
    }

    .hero__button--left {
        top: calc(50% - 1px);
        left: -5px;
    }

    .hero__button--right {
        top: calc(50% + 1px);
        right: -5px;
    }

    .hero__button--right::before {
        clip-path: polygon(100% 100%, 0% 100%, 100% 0);
        border-radius: 0 0 24px 0;
    }

    .hero__button--right::after {
        display: none;
    }

    .hero__button--left::before {
        top: -2px;
        left: -2px;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        border-radius: 24px 0 0;
    }

    .hero__button--left::after {
        display: none;
    }

    .hero__text-button--left {
        right: 200px;
    }

    .hero__text-button--right {
        left: 200px;
    }

}

@media screen and (max-width: 575px) {
    .header-hero__content img {
        max-width: 228px;
        max-height: 240px;
    }

    .content__other-img img {
        max-width: 60px;
        max-height: 66px;
    }

    .text {
        font-size: 14px;
    }

    .text > :not(:last-child) {
        margin-bottom: 15px;
    }

    .text span {
        font-size: 16px;
    }

    .hero__text-button--left {
        right: 130px;
    }

    .hero__text-button--right {
        left: 130px;
    }
}
